spring:
  application:
    name:
      access-log-analyzer
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

server:
  port: 28080

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
